.cv-form {
    padding: 100px 16px;
    background: #edeae4;
    display: grid;
    justify-content: center;
    &__title {
        text-align: center;
        margin: 0 0 50px 0;
    }
    form {
        display: grid;
        justify-content: center;
        gap: 20px;
        .label {
            display: block;
            color: #000000;
            font-family: inherit;
            .input {
                inline-size: 100%;
                display: block;
                border-radius: 8px;
                font-size: 1rem;
                padding: 1rem;
                border: 2px solid transparent;
                // background-color: #312d3c;
                background-color: #ffffff;
                color: #000000;
                margin: 3px 0 0 0;
                &:focus {
                    border: 2px solid #20ad3c;
                }
            }
            textarea {
                font-family: inherit;
                display: block;
                border-radius: 8px;
                font-size: 1rem;
                padding: 1rem;
                border: 2px solid transparent;
                background-color: #ffffff;
                inline-size: 100%;
                margin: 3px 0 0 0;
                &:focus {
                    border: 2px solid #20ad3c;
                }
            }
        }
    }
    .checkbox-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 3px 0 0 0;
    }
    /* The container */
    .checkbox-wrapper {
        display: block;
        inline-size: 50%;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 1rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        /* Hide the browser's default checkbox */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #ffffff;
        border-radius: 8px;
    }
    .checkbox-wrapper {
        color: #000000;
    }
    /* On mouse-over, add a grey background color */
    .checkbox-wrapper:hover input ~ .checkmark {
        background-color: #000000;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox-wrapper input:checked ~ .checkmark {
        background-color: #000000;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .checkbox-wrapper input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox-wrapper .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid #ffffff;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .career-text {
        font-size: 14px;
        text-align: center;
        span {
            color: #cb1741;
            font-weight: 800;
            cursor: pointer;
        }
    }
    .btn-contact-us {
        display: block;
        font-family: inherit;
        padding: 0.71429rem 1.07143rem;
        border-radius: 0.28571rem;
        border: 0.07143rem solid #000000;
        cursor: pointer;
        font-size: 1.14286rem;
        background-color: unset;
        font-weight: 500;
        &:hover {
            // background-image: linear-gradient(#512da8, #512da8);
            background-color: #000000;
            color: #ffffff;
        }
    }
}

@media (min-width: 812px) {
    .cv-form {
        padding: 100px 60px;
        display: grid;
        justify-content: center;
        form {
            display: grid;
            justify-content: center;
            gap: 30px;
            inline-size: 40vw;
            // inline-size: 30vw;
            label {
                display: block;
                color: #ffffff;
                inline-size: 40vw;
                padding: unset;
                .input {
                    display: block;
                    border-radius: 8px;
                    font-size: 1rem;
                    padding: 1rem;
                    border: 2px solid transparent;
                    background-color: #312d3c;
                    color: #ffffff;
                    margin: 3px 0 0 0;
                    &:focus {
                        border: 2px solid #20ad3c;
                    }
                }
                textarea {
                    display: block;
                    border-radius: 8px;
                    font-size: 1rem;
                    padding: 1rem;
                    border: 2px solid transparent;
                    background-color: #312d3c;
                    color: #ffffff;
                    inline-size: 40vw;
                    margin: 3px 0 0 0;
                    &:focus {
                        border: 2px solid #20ad3c;
                    }
                }
            }
            .btn-contact-us {
                margin: unset;
            }
        }
        .checkbox-wrapper {
            inline-size: unset;
        }
    }
}
