.header {
    // block-size: 446px;
    margin: -5.35714rem 0 0 0;
    background-color: #cb1741;
    // background-image: url(img/jaunaa2.jpg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    padding: 7.375rem 1.07143rem;
    z-index: -2;
    transition: 0.2s all ease;
    // position: relative;
    // &::after {
    //     content: "";
    //     block-size: 100vh;
    //     inline-size: 100vw;

    //     position: absolute;
    //     top: 0;
    //     left: 0;
    // z-index: -1;
    // }
    &::before {
        content: "";
        background: linear-gradient(#00000085, #00000005);
        inline-size: 100%;
        block-size: 5.35714rem;
        position: absolute;
        top: 0;
        margin: 0 0 0 -1.07143rem;
    }
    .wrapper {
        .wellcomeText {
            z-index: 1;
            color: #ffffff;
            h1 {
                font-size: 3.42857rem;
                line-height: 4.14286rem;
            }
        }
    }
}

@media (min-width: 640px) {
    .header {
        &::before {
            content: "";
            background: linear-gradient(#00000085, #00000005);
            inline-size: 100%;
            block-size: 5.35714rem;
            position: absolute;
            margin: 0 0 0 -1.07143rem;
        }
        .wrapper {
            display: flex;
            align-items: center;
            block-size: 100%;
            .wellcomeText {
                box-sizing: content-box;
                padding: 0 3.07143rem;
                max-inline-size: 62.5rem;
                h1 {
                    font-size: 4.57143rem;
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .header {
        padding: 0 1.07143rem;
        block-size: 100vh;
    }
}
