#ehred4sgwob44 {
    animation: ehred4sgwob44__sz 10000ms linear infinite normal forwards;
}
@keyframes ehred4sgwob44__sz {
    0% {
        width: 83.7px;
        height: 83.7px;
    }
    17% {
        width: 83.7px;
        height: 83.7px;
    }
    19% {
        width: 83.7px;
        height: 10.217959px;
    }
    22% {
        width: 83.7px;
        height: 83.7px;
    }
    100% {
        width: 83.7px;
        height: 83.7px;
    }
}
#ehred4sgwob44_to {
    animation: ehred4sgwob44_to__to 10000ms linear infinite normal forwards;
}
@keyframes ehred4sgwob44_to__to {
    0% {
        transform: translate(1288.109985px, 451.083008px);
    }
    17% {
        transform: translate(1288.109985px, 451.083008px);
    }
    19% {
        transform: translate(1287.815225px, 495.048072px);
    }
    22% {
        transform: translate(1288.109985px, 451.083008px);
    }
    100% {
        transform: translate(1288.109985px, 451.083008px);
    }
}
nav {
    // background-color: #dfecff;
    position: sticky;
    top: 0;
    width: 100%;
    block-size: 5.35714rem;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    // margin-left: 100vw;
    transition: 0.2s all ease;
    background: linear-gradient(#00000085, #00000005);
    .logo-wrapper {
        display: flex;
        align-items: center;
        .latswed-logo {
            inline-size: 2.1rem;
            fill: rgb(255, 255, 255);
        }
        .logo {
            text-decoration: none;
            font-weight: 700;
            font-size: 1.5rem;
            color: #ffffff;
            margin: 0 0 0 0.8rem;
        }
    }
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        flex-wrap: wrap;
        display: none;
        li {
            margin: 0 10px;
            a {
                display: block;
                text-decoration: none;
                color: #ffffff;
                padding: 26px 18px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                font-weight: 500;
            }
        }
    }
    .btn-contact-us {
        display: block;
        font-family: inherit;
        padding: 0.71429rem 1.07143rem;
        border-radius: 0.28571rem;
        border: 0.07143rem solid #fff;
        cursor: pointer;
        font-size: 1.14286rem;
        background-color: unset;
        color: #ffffff;
        font-weight: 500;
        &:hover {
            // background-image: linear-gradient(#512da8, #512da8);
            background-color: #000000;
            color: #ffffff;
            border-color: #000000;
        }
    }
}
//Navbar trigger on scroll for JS
.onScroll {
    background: #ffffff;
    border-bottom: 1px solid rgba(140, 157, 184, 0.4);
    a {
        color: #000000;
    }
    .logo-wrapper {
        .latswed-logo {
            fill: rgb(0, 0, 0);
        }
        .logo {
            color: #000000;
        }
    }
    .btn-contact-us {
        color: #000000;
        border-color: #000000;
        :hover {
            color: #ffffff;
        }
    }
}

@media (min-width: 640px) {
    nav {
        padding: 0 1.25%;
    }
}

@media (min-width: 1126px) {
    nav {
        ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            flex-wrap: wrap;
        }
    }
}
