.professions {
    padding: 100px 16px;
    background-color: #f2f2f1;
    &__title {
        text-align: center;
    }
    &__professions-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__item {
            text-align: center;
            margin-top: 50px;
            inline-size: 50%;
            &__title {
                font-weight: 900;
                color: #17cb94;
            }
            &__content {
                margin: 10px 16px 0 16px;
            }
        }
    }
}
@media (min-width: 632px) {
    .professions__professions-container {
        &__item {
            inline-size: 165px;
        }
    }
}
