.professions {
    padding: 3.57143rem 1.42857rem;
    // background-color: #f2f2f1;
    background-color: #ffffff;
    &__professions-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__item {
            text-align: center;
            margin-top: 50px;
            inline-size: 50%;
            &__title {
                font-weight: 900;
            }
            &__content {
                margin: 10px 16px 0 16px;
            }
        }
    }
}
@media (min-width: 632px) {
    .professions__professions-container {
        &__item {
            inline-size: 165px;
        }
    }
}
