.small-text-content {
    padding: 7.14286rem 1.42857rem;
    &__item {
        padding: 0 0 1.78571rem 0;
        &__title {
            font-size: 2.57143rem;
            line-height: 3rem;
            margin: 0 0 1.42857rem 0;
        }
        &__content {
            font-size: 1.28571rem;
            line-height: 2.07143rem;
            margin: 0 0 1.07143rem 0;
        }
        &__link {
            text-decoration: none;
            display: block;
            color: #20ad3c;
            font-weight: 700;
            font-size: 18px;
        }
    }
}

@media (min-width: 1024px) {
    .small-text-content {
        .wrapper {
            display: flex;
            padding: 0 1.9rem;
        }
        &__item {
            width: 33.33333%;
            padding: 0 1.07143rem;
        }
    }
}
