* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 0.875rem;
}
body {
    // font-family: titling-gothic-fb, sans-serif;
    // font-weight: 300;

    // font-family: urbane, sans-serif;
    // font-weight: 300;
    // font-style: normal;

    // font-family: lato, sans-serif;
    // font-weight: 400;
    // font-style: normal;

    // font-family: roboto, sans-serif;
    // font-weight: 400;
    // font-style: normal;

    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;

    // color: #33475b;
    color: #000000;

    -moz-osx-font-smoothing: grayscale;
}
h1 {
    font-weight: 700;
}
h2 {
    font-weight: 700;
    font-size: 2.14286rem;
    line-height: 2.71429rem;
}
h3 {
    font-size: 2rem;
}

select {
    appearance: none;
    background-image: url(img/arrow.svg);
    background-size: 50px 10px;
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}
.wrapper {
    max-inline-size: 85.71429rem;
    margin: 0 auto;
}

.section1 {
    padding: 60px 16px;
    // border-bottom: 1px solid rgba(140, 157, 184, 0.4);
    background-color: #ffffff;
    &__title {
        text-align: center;
        margin: 0 0 50px 0;
    }
    .partner-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .partner-wrapper {
            inline-size: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 0;
        }
        .jrMarkteknik {
            block-size: 30px;
        }
        .mjContractor {
            block-size: 30px;
        }
    }
}
.section2 {
    padding: 60px 1.42857rem 0 1.42857rem;
    background-color: #ffffff;
    &__item {
        margin: 0 0 60px 0;
        .img-wrapper {
            margin: 0 0 20px 0;
            block-size: 60vw;
        }
        .article-div__article {
            &__title {
                margin: 0 0 1rem 0;
            }
            p {
                font-size: 1.28571rem;
                line-height: 2.07143rem;
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }
}

.section3 {
    padding: 100px 16px;
    background: #100e17;
    display: grid;
    justify-content: center;
    &__title {
        text-align: center;
        color: #ffffff;
        margin: 0 0 50px 0;
    }
    form {
        display: grid;
        justify-content: center;
        gap: 20px;
        .label {
            display: block;
            color: #ffffff;
            font-family: inherit;
            .input {
                inline-size: 100%;
                display: block;
                border-radius: 8px;
                font-size: 1rem;
                padding: 1rem;
                border: 2px solid transparent;
                background-color: #312d3c;
                color: #ffffff;
                margin: 3px 0 0 0;
                &:focus {
                    border: 2px solid #20ad3c;
                }
            }
            textarea {
                font-family: inherit;
                display: block;
                border-radius: 8px;
                font-size: 1rem;
                padding: 1rem;
                border: 2px solid transparent;
                background-color: #312d3c;
                color: #ffffff;
                inline-size: 100%;
                margin: 3px 0 0 0;
                &:focus {
                    border: 2px solid #20ad3c;
                }
            }
        }
    }
    .checkbox-label {
        color: #ffffff;
    }
    .checkbox-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 3px 0 0 0;
    }
    /* The container */
    .checkbox-wrapper {
        display: block;
        inline-size: 50%;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 1rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #ffffff;
        /* Hide the browser's default checkbox */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #312d3c;
        border-radius: 8px;
    }

    /* On mouse-over, add a grey background color */
    .checkbox-wrapper:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox-wrapper input:checked ~ .checkmark {
        background-color: #ccc;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .checkbox-wrapper input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox-wrapper .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid #312d3c;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .career-text {
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        span {
            color: #17cb94;
            font-weight: 900;
        }
    }
}

.img-wrapper {
    position: relative;
    &__img {
        display: block;
        object-fit: cover;
        inline-size: 100%;
        block-size: 100%;
        // position: absolute;
    }
}

@media (min-width: 812px) {
    h2 {
        font-size: 3.42857rem;
    }
    h3 {
        font-size: 2.57143rem;
    }
    .section1 {
        padding: 60px 0;
        &__title {
            text-align: center;
            color: #2d3339;
        }
        .partner-container {
            display: flex;
            justify-content: space-evenly;
            padding: 0 60px;
            .partner-wrapper {
                inline-size: unset;
            }
            .jrMarkteknik {
                block-size: 50px;
            }
            .mjContractor {
                block-size: 50px;
            }
        }
    }
    .section2 {
        padding: 60px 0 0 0;
        &__title {
            text-align: center;
            margin: 0 0 50px 0;
            color: #2d3339;
        }
        &__item {
            margin: 0;
            display: flex;
            .img-wrapper {
                min-inline-size: 50%;
                max-block-size: 600px;
                margin: 0;
            }
            .article-div {
                display: flex;
                justify-content: center;
                align-self: center;
                &__article {
                    inline-size: 70%;
                }
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }

    .section3 {
        padding: 100px 60px;
        display: grid;
        justify-content: center;
        form {
            display: grid;
            justify-content: center;
            gap: 30px;
            inline-size: 40vw;
            // inline-size: 30vw;
            label {
                display: block;
                color: #ffffff;
                inline-size: 40vw;
                padding: unset;
                .input {
                    display: block;
                    border-radius: 8px;
                    font-size: 1rem;
                    padding: 1rem;
                    border: 2px solid transparent;
                    background-color: #312d3c;
                    color: #ffffff;
                    margin: 3px 0 0 0;
                    &:focus {
                        border: 2px solid #20ad3c;
                    }
                }
                textarea {
                    display: block;
                    border-radius: 8px;
                    font-size: 1rem;
                    padding: 1rem;
                    border: 2px solid transparent;
                    background-color: #312d3c;
                    color: #ffffff;
                    inline-size: 40vw;
                    margin: 3px 0 0 0;
                    &:focus {
                        border: 2px solid #20ad3c;
                    }
                }
            }
            .btn-contact-us {
                margin: unset;
            }
        }
        .checkbox-wrapper {
            inline-size: unset;
        }
    }
}

@import "nav";
@import "header";
@import "statistics";
@import "professions";
@import "companies-form";
@import "footer";
