* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    // font-family: titling-gothic-fb, sans-serif;
    // font-weight: 300;

    // font-family: urbane, sans-serif;
    // font-weight: 300;
    // font-style: normal;

    // font-family: lato, sans-serif;
    // font-weight: 400;
    // font-style: normal;

    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #33475b;

    -moz-osx-font-smoothing: grayscale;
}
h1 {
    font-size: 2.2rem;
    font-weight: 900;
}
h2 {
    font-weight: 700;
}
h3 {
    font-size: 1.6rem;
}
p {
    letter-spacing: 0.5px;
    font-size: 16px;
}
nav {
    // background-color: #dfecff;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    margin-left: 100vw;
}
select {
    appearance: none;
    background-image: url(img/arrow.svg);
    background-size: 50px 10px;
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}
.wrapper {
    max-inline-size: 1300px;
    margin: 0 auto;
}
.onScroll {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(140, 157, 184, 0.4);
    a {
        color: #33475b;
    }
    .logo {
        color: #17cb94;
    }
}
.logo {
    color: #33475b;
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 2rem;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    // inline-size: 100%;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    display: block;
    text-decoration: none;
    // color: #707f8e;
    color: #33475b;
    color: white;
    padding: 30px 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
    font-weight: 18px;
}
nav ul li a:hover {
    transform: scale(1.07);
    // color: #1e7cfc;
    color: #17cb94;
}
.btn-contact-us {
    font-family: inherit;
    color: #ffffff;
    // background-image: linear-gradient(#6942c7, #512da8);
    background-color: #17cb94;
    padding: 0.7rem 2rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
.btn-contact-us:hover {
    // background-image: linear-gradient(#512da8, #512da8);
    background-color: #2ead86;
}
header {
    block-size: 100vh;
    // background-color: #dfecff;
    // background-color: #fff4ee;
    background-image: radial-gradient(circle at 50% 0, #39495199, #0c202a99 99%),
        url(img/jaunaa2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 16px;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        block-size: 100vh;
        inline-size: 100vw;
        background-color: #00000050;
        position: absolute;
        top: 0;
        left: 0;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        block-size: 100vh;
        .latswed-logo {
            margin: 0 0 5vh 0;
            z-index: 1;
            max-inline-size: 40vw;
        }
        .wellcomeText {
            z-index: 1;
            color: white;
            text-align: center;
            max-width: 700px;
            span {
                color: #17cb94;
            }
            p {
                padding-top: 3vh;
                line-height: 24px;
            }
        }
    }
}
.section1 {
    padding: 60px 16px;
    // border-bottom: 1px solid rgba(140, 157, 184, 0.4);
    &__title {
        text-align: center;
        color: #2d3339;
        margin: 0 0 50px 0;
    }
    .partner-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .partner-wrapper {
            inline-size: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 0;
        }
        .jrMarkteknik {
            block-size: 30px;
        }
        .mjContractor {
            block-size: 30px;
        }
    }
}
.section2 {
    padding: 60px 16px 0 16px;
    &__title {
        text-align: center;
        margin: 0 0 50px 0;
        color: #2d3339;
    }
    &__item {
        margin: 0 0 60px 0;
        .img-wrapper {
            margin: 0 0 20px 0;
            block-size: 80vw;
        }
        .article-div__article {
            padding: 0 16px;
            &__title {
                margin: 0 0 10px 0;
                color: #2d3339;
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }
}

.section3 {
    padding: 100px 16px;
    background: #100e17;
    display: grid;
    justify-content: center;
    &__title {
        text-align: center;
        color: #ffffff;
        margin: 0 0 50px 0;
    }
    form {
        display: grid;
        justify-content: center;
        gap: 20px;
        .label {
            display: block;
            color: #ffffff;
            font-family: inherit;
            .input {
                inline-size: 100%;
                display: block;
                border-radius: 8px;
                font-size: 1rem;
                padding: 1rem;
                border: 2px solid transparent;
                background-color: #312d3c;
                color: #ffffff;
                margin: 3px 0 0 0;
                &:focus {
                    border: 2px solid #20ad3c;
                }
            }
            textarea {
                font-family: inherit;
                display: block;
                border-radius: 8px;
                font-size: 1rem;
                padding: 1rem;
                border: 2px solid transparent;
                background-color: #312d3c;
                color: #ffffff;
                inline-size: 100%;
                margin: 3px 0 0 0;
                &:focus {
                    border: 2px solid #20ad3c;
                }
            }
        }
    }
    .checkbox-label {
        color: #ffffff;
    }
    .checkbox-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 3px 0 0 0;
    }
    /* The container */
    .checkbox-wrapper {
        display: block;
        inline-size: 50%;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 1rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #ffffff;
        /* Hide the browser's default checkbox */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #312d3c;
        border-radius: 8px;
    }

    /* On mouse-over, add a grey background color */
    .checkbox-wrapper:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox-wrapper input:checked ~ .checkmark {
        background-color: #ccc;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .checkbox-wrapper input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox-wrapper .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid #312d3c;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .career-text {
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        span {
            color: #17cb94;
            font-weight: 900;
        }
    }
}

.img-wrapper {
    position: relative;
    &__img {
        display: block;
        object-fit: cover;
        inline-size: 100%;
        block-size: 100%;
        // position: absolute;
    }
}

@media (min-width: 812px) {
    h1 {
        font-size: 2.75rem;
        line-height: 1.1818;
    }
    h2 {
        font-size: 2rem;
    }
    header {
        padding: unset;
        padding: 0 60px 0 60px;
        // .wrapper {
        //     flex-direction: row-reverse;
        //     align-items: center;
        //     justify-content: space-between;
        // }
        .wellcomeText {
            max-inline-size: 1000px;
            p {
                max-inline-size: 540px;
            }
        }
        .latswed-logo {
            // position: absolute;
            // right: 10vw;
            // bottom: 24vh;
            inline-size: 11vw;
            // margin: unset;
        }
    }
    .section1 {
        padding: 60px 0;
        &__title {
            text-align: center;
            color: #2d3339;
        }
        .partner-container {
            display: flex;
            justify-content: space-evenly;
            padding: 0 60px;
            .partner-wrapper {
                inline-size: unset;
            }
            .jrMarkteknik {
                block-size: 50px;
            }
            .mjContractor {
                block-size: 50px;
            }
        }
    }
    .section2 {
        padding: 60px 0 0 0;
        &__title {
            text-align: center;
            margin: 0 0 50px 0;
            color: #2d3339;
        }
        &__item {
            margin: 0;
            display: flex;
            .img-wrapper {
                min-inline-size: 50%;
                max-block-size: 600px;
                margin: 0;
            }
            .article-div {
                display: flex;
                justify-content: center;
                align-self: center;
                &__article {
                    inline-size: 70%;
                }
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }

    .section3 {
        padding: 100px 60px;
        background: #100e17;
        display: grid;
        justify-content: center;
        &__title {
            text-align: center;
            color: #ffffff;
            margin: 0 0 50px 0;
        }
        form {
            display: grid;
            justify-content: center;
            gap: 30px;
            inline-size: 40vw;
            // inline-size: 30vw;
            label {
                display: block;
                color: #ffffff;
                inline-size: 40vw;
                padding: unset;
                .input {
                    display: block;
                    border-radius: 8px;
                    font-size: 1rem;
                    padding: 1rem;
                    border: 2px solid transparent;
                    background-color: #312d3c;
                    color: #ffffff;
                    margin: 3px 0 0 0;
                    &:focus {
                        border: 2px solid #20ad3c;
                    }
                }
                textarea {
                    display: block;
                    border-radius: 8px;
                    font-size: 1rem;
                    padding: 1rem;
                    border: 2px solid transparent;
                    background-color: #312d3c;
                    color: #ffffff;
                    inline-size: 40vw;
                    margin: 3px 0 0 0;
                    &:focus {
                        border: 2px solid #20ad3c;
                    }
                }
            }
            .btn-contact-us {
                margin: unset;
            }
        }
        .checkbox-wrapper {
            inline-size: unset;
        }
    }
}

@media (min-width: 1126px) {
    nav {
        flex-direction: row;
        margin: unset;
    }
    nav ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        flex-wrap: wrap;
    }
}
@import "statistics";
@import "companies-form";
@import "footer";
